$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;

$white: #FFFFFF;
$off-black: #1C1D21;
$gray: #31353D;
$weird-blue: #445878;
$perhaps-teal: #92CDCF;

