include mixins/head

doctype html
html(lang="en")
  head
    block styles
      link(rel='stylesheet', href='/assets/application.css')
    block meta
      +meta-default(
        "wasted code, coding, inderpreet singh, inder, isingh, blog",
        "Website, blog and home page for Inderpreet Singh on the internet")
    block title
      title= "Wasted Code"

  body
    block topnav
      div.nav-bar
        ul
          li
            a(href='/')= "Home"
          li
            a(href='https://medium.com/@inderpreetsingh')= "Blog"
          li
            a(href='https://github.com/isingh')= "Github"
    div.content
      block content

